/*********************************
GENERAL
*********************************/
body{
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/
    tablets.*/
    max-width: 940px;
    /*margin 0 is for all sides*/
    margin: 0 auto;
    /*Values first one is top and bottom. second one is left and right.*/
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}
h3 {
    margin: 0 0 1em 0;
}



/*********************************
HEADER
*********************************/
header {
    float : left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    /*our name and description*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Nunito', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/*********************************
NAVIGATION
*********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/*********************************
FOOTER
*********************************/
footer{
    font-size: 1.25em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}


/*********************************
PAGE PORTFOLIO
*********************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #00F0E0;
    color: #D41C43;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #13085C
}


/*********************************
ABOUT ME PAGE
*********************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%
}


/*********************************
CONTACT PAGE
*********************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9
}


.contact-info a {
    display: block;
    min-height: 20px;
    /*By default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*Re-size the background image*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/Mail.png');
}






/*********************************
COLORS
*********************************/
body {
    background-color: white;
    color: #999
}

a {
    color: #6ab47b
}

header{
    background: #FF8400;
}

h1, h2 {
    color: #A4A5ED;
}

nav {
    background: #FF0000;
}

/*Pseudo-Class */
nav a, nav a:visited {
    color: #fff;
}

nav a.selected, nav a:hover {
    color: #C4D14F;
}



/*********************************
MEDIA Querie
*********************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right;
    }
    /*THREE COLUMN LAYOUT PORTFOLIO*/
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px){
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}